/**
 * Tabs Component Demo Style for Uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
* {
    box-sizing: border-box;
    &:after, &:before {
        box-sizing: border-box;
    }
}

body {
    padding: 20px!important;
}
@import '../node_modules/kuma-base/variable';
@import '../src/Tabs.less';
