/**
 * Tabs Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@tabClass: kuma-tab;

.@{tabClass} {
    outline: 0 none;

    .@{tabClass}-nav-container {
        height: @tab-height;
        border-bottom: solid 1px @tab-border-color;
        font-size: @tab-font-size;
    }

    .@{tabClass}-nav {
        overflow: hidden;
        zoom: 1;
    }

    .@{tabClass}-tab {
        float: left;
        height: @tab-item-height;
        border: solid 1px transparent;
        cursor: pointer;

        .@{tabClass}-tab-inner {
            display: inline-block;
            height: @tab-item-height;
            padding: 0 @tab-padding;
            line-height: @tab-item-height;
            text-align: center;
            color: @tab-color;
            text-decoration: none;

            &:hover {
                color: @tab-hover-color;
            }
        }

        > a {
            display: inline-block;
            height: @tab-item-height;
            padding: 0 @tab-padding;
            line-height: @tab-item-height;
            text-align: center;
            color: @tab-color;
            text-decoration: none;

            &:hover {
                color: @tab-hover-color;
            } 
        }

        &.@{tabClass}-tab-active {
            .@{tabClass}-tab-inner {
                margin-bottom: -1px;
                border-bottom: solid 1px @tab-active-bg-color;
                background-color: @tab-active-bg-color;
                color: @tab-hover-color;
                font-weight: @tab-font-weight-active;
            }
            > a {
                margin-bottom: -1px;
                border-bottom: solid 1px @tab-active-bg-color;
                background-color: @tab-active-bg-color;
                color: @tab-hover-color;
                font-weight: @tab-font-weight-active; 
            }
        }

        &.@{tabClass}-tab-disabled {
            .@{tabClass}-tab-inner {
                color: @tab-disabled-color;
            }
            > a {
                color: @tab-disabled-color;
            }
        }
    }

    &.@{tabClass}-brick,
    &.@{tabClass}-topline {
        .@{tabClass}-tab {
            border-color: @tab-border-color;
            background-color: @tab-bg-color;
            border-left-width: 0;

            &:first-child {
                border-left-width: 1px;
            }
        }
    }

    &.@{tabClass}-line {
        .@{tabClass}-tab-active {
            border-color: @tab-border-color;
            border-width: 1px;
        }
    }

    &.@{tabClass}-topline {
        .@{tabClass}-tab-active {

            .@{tabClass}-tab-inner {
                height: @tab-item-height;
                border-top: solid 2px @tab-hover-color;
                margin-top: -1px;
                line-height: @tab-item-fix-height;
            }

            > a {
                height: @tab-item-height;
                border-top: solid 2px @tab-hover-color;
                margin-top: -1px;
                line-height: @tab-item-fix-height; 
            }
        }
    }

    &.@{tabClass}-underline {
        .@{tabClass}-tab-active {
            .@{tabClass}-tab-inner {
                height: @tab-item-fix-height;
                border-bottom: solid 2px @tab-hover-color;
            }
            > a {
                height: @tab-item-fix-height;
                border-bottom: solid 2px @tab-hover-color;
            }
        }
    }

    &.@{tabClass}-sm {
        font-size: @tab-font-size-sm;
    }

    &.@{tabClass}-lg {

        .@{tabClass}-nav-container {
            height: @tab-height-lg;
            font-size: @tab-font-size-lg;
        }

        .@{tabClass}-nav {

            .@{tabClass}-tab {
                height: @tab-item-height-lg;

                .@{tabClass}-tab-inner {
                    height: @tab-item-height-lg;
                    line-height: @tab-item-height-lg;
                }
                > a {
                    height: @tab-item-height-lg;
                    line-height: @tab-item-height-lg;
                }
            }
        }

        &.@{tabClass}-topline {
            .@{tabClass}-tab {
                margin-right: @tab-margin-topline-lg;
                .@{tabClass}-tab-inner {
                    padding: 0 @tab-padding-topline-lg;
                }
                > a {
                    padding: 0 @tab-padding-topline-lg;
                }
            }
            .@{tabClass}-tab-active {
                .@{tabClass}-tab-inner {
                    height: @tab-item-height-lg;
                    line-height: @tab-item-fix-height-lg;
                }
                > a {
                    height: @tab-item-height-lg;
                    line-height: @tab-item-fix-height-lg;
                }
            }
        }

        &.@{tabClass}-underline {
            .@{tabClass}-nav-container {
                border-bottom-width: @tab-lg-underline-bottom-border-width;
            }
            .@{tabClass}-tab {
                margin-right: @tab-margin-underline-lg;
                .@{tabClass}-tab-inner {
                    padding: 0 @tab-padding-underline-lg;
                }
                > a {
                    padding: 0 @tab-padding-underline-lg;
                }
            }
            .@{tabClass}-tab-active {
                .@{tabClass}-tab-inner {
                    height: @tab-item-fix-height-lg;
                    border-bottom-width: @tab-lg-underline-bottom-border-width;
                }
                > a {
                    height: @tab-item-fix-height-lg;
                    border-bottom-width: @tab-lg-underline-bottom-border-width;
                }
            }
        }

        &.@{tabClass}-line {
            .@{tabClass}-tab {
                margin-right: @tab-margin-line-lg;
                .@{tabClass}-tab-inner {
                    padding: 0 @tab-padding-line-lg;
                }
                > a {
                    padding: 0 @tab-padding-line-lg;
                }
            }
        }

        &.@{tabClass}-brick {
            .@{tabClass}-tab {
                margin-right: @tab-margin-brick-lg;
                .@{tabClass}-tab-inner {
                    padding: 0 @tab-padding-brick-lg;
                }
                > a {
                    padding: 0 @tab-padding-brick-lg;
                }
            }
        }
    }

    .@{tabClass}-content {
        .@{tabClass}-tabpane-hidden {
            display: none;
        }
    }
}
