/**
 * Tabs Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 @__tabPrefixCls: kuma-tab;

.@{__tabPrefixCls}-bar {
  outline: 0 none;
}

.@{__tabPrefixCls} {
  // 嵌套用
  .@{__tabPrefixCls} {
    border: none;
  }
  &-bar {
    border-bottom: 1px solid @split-line-color;
    .@{__tabPrefixCls}-tab {
      transition: background-color 0.3s ease-out, color 0.3s ease-out;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      color: @dark-alpha-3;
      &-active {
        color: @brand-primary;
        border: 1px solid @split-line-color;
        border-bottom: none;
      }
      &:hover {
        color: @brand-primary;
      }
      &-disabled {
        color: @link-disabled-color;
        &:hover {
          color: @link-disabled-color;
        }
      }
    }
  }
  &-content {
    zoom: 1;
    .@{__tabPrefixCls}-tabpane {
      overflow: auto;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      &-hidden {
        display: none;
      }
    }
    &-animated {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      will-change: transform;
    }
  }
  &.@{__tabPrefixCls}-lg,
  &.@{__tabPrefixCls}-sm {
    >.@{__tabPrefixCls}-bar {
      .@{__tabPrefixCls}-nav {
        position: relative;
        display: inline-block;
        transform-origin: 0 0;
        .@{__tabPrefixCls}-ink-bar {
          position: absolute;
          top: 0px;
          height: 2px;
          background-color: @brand-primary;
          z-index: 1;
          transition: all @transition-ease @transition-duration;
          transform-origin: 0 0;
        }
        &-container {
          overflow: hidden;
          white-space: nowrap;
          position: relative;
        }
        &-wrap {
          overflow: hidden;
        }
      }
      .@{__tabPrefixCls}-tab {
        padding: 0 24px;
        &-prev,
        &-next {
          user-select: none;
          z-index: 10;
          line-height: 49px;
          cursor: pointer;
          border: none;
          position: absolute;
          margin-right: -2px;
          width: 0;
          height: 0;
          top: 0;
          text-align: center;
          color: #666;
          overflow: hidden;
          &.@{__tabPrefixCls}-tab-arrow-show {
            overflow:visible;
            width: 32px;
            height: 100%;
          }
        }
        &-prev-icon,
        &-next-icon {
          display: inline-block;
          font-smoothing: antialiased;
          text-stroke-width: 0;
          font-family: kuma;
          font-size: 16px;
        }
        &-prev-icon:before,
        &-next-icon:before {
          display: block;
        }
        &-next-icon:before {
          content: "\e643";
        }
        &-prev-icon:before {
          content: "\e644";
        }
        &-next {
          right: 2px;
        }
        &-prev {
          left: 0;
        }
        &-btn-disabled {
          color: @link-disabled-color;
          cursor: not-allowed;
        }
      }
    }
  } // large
  @__tab_lg_height: 49px;
  &.@{__tabPrefixCls}-lg {
    >.@{__tabPrefixCls}-bar {
      background-color: white;
      .@{__tabPrefixCls}-nav-container {
        border-bottom: 0;
      }
      .@{__tabPrefixCls}-tab {
        margin-left: -1px;
        height: @__tab_lg_height;
        line-height: @__tab_lg_height;
        font-size: 14px;
        &-active {
          position: relative;
          background-color: @basic-100;
          line-height: 47px;
          padding: 0 23px;
        }
        &-prev,
        &-next {
          background-color: @basic-300;
          line-height: @__tab_lg_height;
        }
      }
    }
  }
  &.@{__tabPrefixCls}-lg.@{__tabPrefixCls}-top,
  &.@{__tabPrefixCls}-lg.@{__tabPrefixCls}-bottom {
    >.@{__tabPrefixCls}-bar {
      height: @__tab_lg_height;
      .@{__tabPrefixCls}-nav-container {
        height: @__tab_lg_height;
      }
    }
  } // small
  @__tab_sm_height: 40px;
  &.@{__tabPrefixCls}-sm {
    >.@{__tabPrefixCls}-bar {
      background-color: white;
      .@{__tabPrefixCls}-nav-container {
        border-bottom: 0;
      }
      .@{__tabPrefixCls}-tab {
        margin-left: -1px;
        height: @__tab_sm_height;
        line-height: @__tab_sm_height;
        font-size: 12px;
        &-active {
          position: relative;
          padding: 0 23px;
          background-color: @basic-100;
          line-height: 39px; // border-width: 0 1px;
          // border-color: transparent @border-color;
          // border-style: solid;
        }
        &-prev,
        &-next {
          background-color: @basic-300;
          line-height: @__tab_sm_height;
        }
      }
    }
  }
  &.@{__tabPrefixCls}-sm.@{__tabPrefixCls}-top,
  &.@{__tabPrefixCls}-sm.@{__tabPrefixCls}-bottom {
    >.@{__tabPrefixCls}-bar {
      height: @__tab_sm_height;
      .@{__tabPrefixCls}-nav-container {
        height: @__tab_sm_height;
      }
    }
  } // filter
  &.@{__tabPrefixCls}-filter {
    @__tab_filter_height: 20px;
    background: transparent;
    >.@{__tabPrefixCls}-bar {
      .@{__tabPrefixCls}-nav-container {
        padding: 20px 30px;
      }
      .@{__tabPrefixCls}-tab {
        margin: 5px 0;
        padding: 0 25px;
        height: @__tab_filter_height;
        line-height: @__tab_filter_height;
        font-size: 14px;
        border-right: 1px solid @border-color;
        &-active {
          color: @brand-primary;
          border: none;
          border-right: 1px solid @border-color;
        }
        &-prev,
        &-next {
          display: none;
        }
        &:nth-of-type {}
        &:last-of-type {
          border-right: 0 none;
        }
      }
    }
  } // brick
  &.@{__tabPrefixCls}-brick {
    @__tab_brick_height: 28px;
    background: transparent;
    >.@{__tabPrefixCls}-bar {
      .@{__tabPrefixCls}-nav-container {
        padding: 20px 30px;
      }
      .@{__tabPrefixCls}-tab {
        height: @__tab_brick_height;
        line-height: @__tab_brick_height - 2;
        border-color: @border-color;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        font-size: 14px;
        padding: 0 30px;
        &-active {
          background-color: @brand-primary-alpha-8;
          color: @brand-primary;
          border-color: @brand-primary;
          &+.@{__tabPrefixCls}-tab {
            border-left-color: @brand-primary;
          }
        }
        &-prev,
        &-next {
          display: none;
        }
        &:nth-of-type(2) {
          border-width: 1px 0px 1px 1px;
          border-radius: 3px 0 0 3px;
        }
        &:last-of-type {
          border-width: 1px 1px 1px 1px;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
  &.@{__tabPrefixCls}-filter,
  &.@{__tabPrefixCls}-brick {
    &.@{__tabPrefixCls}-top {
      .@{__tabPrefixCls}-bar {
        border-bottom: none;
      }
    }
  }
  &.@{__tabPrefixCls}-open {
    @__tab_lg_height: 49px;
    background-color: #fff;
    >.@{__tabPrefixCls}-bar {
      height: @__tab_lg_height;
      border-bottom: 1px solid @split-line-color;
      .@{__tabPrefixCls}-nav-container {
        height: @__tab_lg_height;
        border-bottom: 0;
      }
      .@{__tabPrefixCls}-tab {
        margin-left: -1px;
        height: @__tab_lg_height;
        line-height: @__tab_lg_height;
        font-size: 14px;
        &-active {
          position: relative;
          background-color: @basic-100;
          padding: 0 44px;
          border: none;
        }
        &-prev,
        &-next {
          line-height: @__tab_lg_height;
        }
      }
    }
    >.@{__tabPrefixCls}-bar {
      .@{__tabPrefixCls}-nav {
        position: relative;
        display: inline-block;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        .@{__tabPrefixCls}-ink-bar {
          position: absolute;
          bottom: 0px;
          height: 2px;
          background-color: @brand-primary;
          z-index: 1;
          transition: all @transition-ease @transition-duration;
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
        }
        &-container {
          overflow: hidden;
          white-space: nowrap;
          position: relative;
        }
        &-wrap {
          overflow: hidden;
        }
      }
      .@{__tabPrefixCls}-tab {
        padding: 0 24px;
        &-prev,
        &-next {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          z-index: 10;
          line-height: 49px;
          cursor: pointer;
          border: none;
          position: absolute;
          margin-right: -2px;
          width: 0;
          height: 0;
          top: 0;
          text-align: center;
          color: #666;
          overflow: hidden;

          &.@{__tabPrefixCls}-tab-arrow-show {
            overflow:visible;
            width: 32px;
            height: 100%;
          }
        }
        &-prev-icon,
        &-next-icon {
          display: inline-block;
          font-smoothing: antialiased;
          text-stroke-width: 0;
          font-family: kuma;
          font-size: 16px;
        }
        &-prev-icon:before,
        &-next-icon:before {
          display: block;
        }
        &-next-icon:before {
          content: "\e643";
        }
        &-prev-icon:before {
          content: "\e644";
        }
        &-next {
          right: 2px;
        }
        &-prev {
          left: 0;
        }
        &-btn-disabled {
          color: @link-disabled-color;
          cursor: not-allowed;
        }
      }
    }
  }
}

.@{__tabPrefixCls}-top,
.@{__tabPrefixCls}-bottom {
  overflow-x: hidden;
  background: white;
  .@{__tabPrefixCls}-nav-container-scrolling {
    padding-left: 32px;
    padding-right: 32px;
  }
  .@{__tabPrefixCls}-nav-scroll {
    width: 99999px; // border-bottom: 1px solid @split-line-color;
  }
  .@{__tabPrefixCls}-nav-wrap {
    width: 100%;
  }
  .@{__tabPrefixCls}-content-animated {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    .@{__tabPrefixCls}-tabpane {
      transition: opacity 0.3s ease-out;
      opacity: 1;
      width: 100%;
      display: block;
    }
    .@{__tabPrefixCls}-tabpane-inactive {
      opacity: 0;
      height: 0;
    }
  }
}

.@{__tabPrefixCls}-left,
.@{__tabPrefixCls}-right {
  overflow-y: hidden;
  height: 100%;
  background: white;
  display: flex;
  .@{__tabPrefixCls}-nav-scroll {
    width: auto;
  }
  .@{__tabPrefixCls}-bar {
    width: auto;
    .@{__tabPrefixCls}-nav-container {
      height: 100% !important;
      .@{__tabPrefixCls}-nav-wrap {
        height: 100%;
      }
      .@{__tabPrefixCls}-nav.@{__tabPrefixCls}-nav-animated {
        .@{__tabPrefixCls}-ink-bar {
          width: 2px;
          height: 49px;
          top: 0;
        }
      }
      .@{__tabPrefixCls}-tab-prev {
        top: 2px;
      }
      .@{__tabPrefixCls}-tab {
        margin: 0;
        display: block;
        &-next-icon:before {
          content: "\e642";
        }
        &-prev-icon:before {
          content: "\e641";
        }
      }
    }
    .@{__tabPrefixCls}-nav-container-scrolling {
      padding-top: 32px;
      padding-bottom: 32px;
      width: auto;
      .@{__tabPrefixCls}-tab-prev,
      .@{__tabPrefixCls}-tab-next {
        margin-top: -2px;
        height: 32px;
        line-height: 32px;
        width: 100%;
        display: block;
        text-align: center;
      }
      .@{__tabPrefixCls}-tab-next {
        bottom: 0;
        top: auto;
      }
    }
  }
  .@{__tabPrefixCls}-tab-active {
    border: 0;
    border-bottom: 1px solid @split-line-color;
    border-top: 1px solid @split-line-color;
  }
  .@{__tabPrefixCls}-content {
    flex: 1;
  }
  .@{__tabPrefixCls}-content-animated {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: none!important;
    -ms-transform: none!important;
    transform: none!important;
    height: 100%;
    .@{__tabPrefixCls}-tabpane {
      height: 100%;
    }
    .@{__tabPrefixCls}-tabpane-inactive {
      display: none;
    }
  }
}

.@{__tabPrefixCls}-left {
  border-right: 2px solid @split-line-color;
  .@{__tabPrefixCls}-bar {
    float: left;
    margin-bottom: 0;
    border-right: 1px solid @split-line-color;
    .@{__tabPrefixCls}-nav-container {
      .@{__tabPrefixCls}-nav.@{__tabPrefixCls}-nav-animated {
        .@{__tabPrefixCls}-ink-bar {
          left: 0;
        }
      }
    }
  }
  .@{__tabPrefixCls}-content-animated {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .@{__tabPrefixCls}-tabpane {
      height: 100%;
    }
  }
}

.@{__tabPrefixCls}-right {
  border-left: 2px solid @split-line-color;
  .@{__tabPrefixCls}-bar {
    float: right;
    margin-left: 10px;
    border-left: 1px solid @split-line-color;
    .@{__tabPrefixCls}-nav-container {
      .@{__tabPrefixCls}-nav.@{__tabPrefixCls}-nav-animated {
        .@{__tabPrefixCls}-ink-bar {
          right: 0;
        }
      }
    }
  }
}

.no-flexbox .@{__tabPrefixCls}-content {
  -webkit-transform: none !important;
  transform: none !important;
  overflow: auto;
}

.no-csstransitions .@{__tabPrefixCls}-tabpane-inactive,
.no-flexbox .@{__tabPrefixCls}-tabpane-inactive,
.@{__tabPrefixCls}-content-no-animated .@{__tabPrefixCls}-tabpane-inactive {
  display: none !important;
}